/* NProgress Loading Bar Custom Styling */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(90deg, #E67E22, #D35400, #E67E22);
  background-size: 200% 100%;
  animation: gradient 2s ease infinite;
  
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 3px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #E67E22, 0 0 5px #E67E22;
  opacity: 1.0;
  
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove spinner */
#nprogress .spinner {
  display: none;
}

/* Smooth transitions */
#nprogress .bar {
  transition: width 0.4s ease;
}
